**/node_modules
**/logs
build
*.log
.env
package-lock.json
yarn.lock
node_modules
dist
package-lock.json
yarn.locks
**/installers
application-activation-tool
logs
.vs
publish
PublishOutput
Output
bin
obj

